#app {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.home {
  margin-top: 25vh;
}

.alcohol {
  margin-top: 12vh;
}

#promilleListId {
  margin-bottom: 50px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  transition: all 0.3s ease;
  top: 0px;
  left: opx;
}

.navbar .centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.sticky {
  background-color: rgb(14, 211, 138);
  padding: 15px 0;
}

.centered {
  padding: 0 80px;
  max-width: 1300px;
  margin: auto;
}

.header-text {
  font-size: 35px;
  font-weight: 600;
  color: var(--color-primary);
}

#demo {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.simple-nav {
  margin-top: 15px;
}

.simple-nav li {
  list-style: none;
  display: inline-block;
}

.simple-nav li a {
  display: block;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

body {
  background-color: white;
  color: #212529;
  --color-secondary: white;
  --color-primary: #212529;
}

.dark-mode {
  background-color: #212529;
  color: white;
  --color-secondary: #212529;
  --color-primary: white;
}

#promilleHistoryTable {
  color: var(--color-primary);
}

.modal-content {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary);
}

#DrinkList {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

#hiddenStuff {
  display: none;
}

#hiddenComment {
  display: none;
}

h5 {
  margin-top: 20px;
}

#promilleSkala {
  width: 100%;
  height: auto;
}

#logoId {
  margin-top: -15px;
  margin-right: -20px;
}

.login {
  width: 50%;
  margin: auto;
}

.drink:hover {
  background-color: bisque;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

h1 {
  text-align: center;
}

.gauge-wrapper {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 20px 15px 15px;
}

.gauge {
  background: #e7e7e7;
  box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0 !important;
  position: relative;
  overflow: hidden;
}
.gauge.min-scaled {
  transform: scale(0.5);
}

.gauge-center {
  content: "";
  color: #fff;
  width: 60%;
  height: 60%;
  background: #15222e;
  border-radius: 100px 100px 0 0 !important;
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 21%;
  bottom: 0;
  color: #fff;
  z-index: 10;
}

.gauge-center .label,
.gauge-center .number {
  display: block;
  width: 100%;
  text-align: center;
  border: 0 !important;
}
.gauge-center .label {
  font-size: 0.75em;
  opacity: 0.6;
  margin: 1.1em 0 0.3em 0;
}
.gauge-center .number {
  font-size: 1.2em;
}

.needle {
  width: 80px;
  height: 7px;
  background: #15222e;
  border-bottom-left-radius: 100% !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 100% !important;
  border-top-right-radius: 5px !important;
  position: absolute;
  bottom: -2px;
  left: 20px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
  display: none;
  z-index: 9;
}

.four.rischio1 .needle {
  animation: fourspeed1 2s 1 both;
  animation-delay: 1s;
  display: block;
}
.four.rischio2 .needle {
  animation: fourspeed2 2s 1 both;
  animation-delay: 1s;
  display: block;
}
.four.rischio3 .needle {
  animation: fourspeed3 2s 1 both;
  animation-delay: 1s;
  display: block;
}
.four.rischio4 .needle {
  animation: fourspeed4 2s 1 both;
  animation-delay: 1s;
  display: block;
}

.slice-colors {
  height: 100%;
}

.slice-colors .st {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
}

.four .slice-colors .st.slice-item:nth-child(2) {
  border-top: 50px #f1c40f solid;
  border-right: 50px #f1c40f solid;
  background-color: #1eaa59;
}

.four .slice-colors .st.slice-item:nth-child(4) {
  left: 50%;
  border-bottom: 50px #e84c3d solid;
  border-right: 50px #e84c3d solid;
  background-color: #e67e22;
}

@-webkit-keyframes fourspeed1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(16deg);
  }
}

@-webkit-keyframes fourspeed2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(65deg);
  }
}

@-webkit-keyframes fourspeed3 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(115deg);
  }
}

@-webkit-keyframes fourspeed4 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(164deg);
  }
}

.filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 30%));
  grid-column-gap: 20px;
  justify-content: center;
}

#inputName {
  width: 50% !important;
  margin: auto;
  margin-bottom: 10px;
}

.form-check-input {
  margin-left: 1.9em !important;
}

.filterContainer {
  width: 100%;
  max-width: 700px;
  margin: auto;
  border: 5px;
  border-radius: 14px;
  padding: 5px;
  background-color: #bbbbbb;
}

.alcFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* rating */
* {
  margin: 0;
  padding: 0;
}
.rate {
  transform: translate(-31.3%, 0);
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#ratingText {
  margin-bottom: auto;
}

#promilleListId {
  max-width: 700px;
  margin: auto;
}

.page {
  float: right;
}

.pageNumber {
  width: 40px;
  text-align: center;
}

@media screen and (max-width: 1350px) {
  .centered {
    width: 80vw !important;
  }
}

@media screen and (max-width: 1000px) {
  .centered {
    width: 100vw !important;
  }

  .header-text {
    font-size: 1.3rem;
  }

  #logoId {
    height: 30px;
    width: 30px;
    margin-right: -12px;
  }
}

/* Hide the link that should open and close the topnav on small screens */
.header-menu .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .header-menu li:not(:last-child) {display: none;}
  .header-menu li a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .header-menu.responsive {position: relative;}
  .header-menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header-menu.responsive li{
    float: none;
    display: block;
    text-align: right;
  }
}
