#app {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.drink:hover {
    background-color:bisque;
    transition:all 200ms ease-in-out;
    cursor: pointer;
}

#verificationBody {
    padding-left: 40%;
}

.filter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 30%));
    grid-column-gap: 20px;
    justify-content: center;
}

.form-check-input{
    margin-left: 1.9em !important;
}

.filterContainer {
    width:100%;
    max-width: 700px;
    margin: auto;
}

.alcFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
}